.main-wrapper {
   background: url("../img/bg.png") no-repeat center/cover;
}
.header {
   background: url("../img/bg-1.png") no-repeat center/cover;
   padding: 40px 0 80px;

   &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;
   }

   &__logo {
      margin-bottom: 50px;

      img {
         max-width: 130px;
         width: 100%;
         height: auto;
      }
   }

   &__title {
      img {
         max-width: 775px;
         width: 100%;
         height: auto;
      }
   }

   &__subtitle {
   }

   &__text {
      max-width: 900px;
      width: 100%;
      height: auto;
      margin: 25px 0 55px;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
   }

   &__form-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
   }
}

.form {
   max-width: 422px;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 40px 24px;
   border-radius: 2%;
   background: linear-gradient(45deg, rgba(72, 55, 196, 0.72) 0%, rgba(169, 32, 133, 0.72) 100%);
   position: relative;

   &__title {
      font-weight: 700;
      margin-bottom: 22px;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
   }

   &__subtitle {
      max-width: 320px;
      width: 100%;
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 1.5;
   }

   &__input {
      width: 100%;
      height: 48px;
      border: 1px solid transparent;
      background: #02061f98;
      border-radius: 4px;
      padding: 15px;
      font-size: 12px;
      color: #fff;
      margin-bottom: 17px;

      &:focus {
         border: 1px solid #fff;
         outline: none;
      }

      &::placeholder {
         color: #ae569b;
         font-size: 12px;
      }
   }

   &__button {
      background: url("../img/pattern-button-yellow.png") no-repeat center,
         linear-gradient(0deg, rgba(235, 147, 4, 1) 0%, rgba(235, 216, 4, 1) 100%);
      font-size: 12px;
      color: #02061f;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      border: none;
      border-radius: 4px;
      padding: 23px;
      margin-bottom: 28px;

      &:focus {
         outline: none;
      }
   }

   &__footer {
      font-size: 12px;
      color: #ebd104;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      &::after {
         position: absolute;
         content: "";
         width: 100%;
         height: 2px;
         bottom: 0;
         left: 0;
         background: #ebd104;
      }
   }

   &__border {
      width: 16px;
      height: 16px;
      background: transparent;
      border: 2px solid transparent;
      position: absolute;

      &_leftTop {
         top: 0;
         left: 0;
         border-radius: 50% 0 0 0;
         border-top: 2px solid #fff;
         border-left: 2px solid #fff;
      }

      &_rightTop {
         top: 0;
         right: 0;
         border-radius: 0 50% 0 0;
         border-top: 2px solid #fff;
         border-right: 2px solid #fff;
      }

      &_leftBottom {
         bottom: 0;
         left: 0;
         border-radius: 0 0 0 50%;
         border-bottom: 2px solid #fff;
         border-left: 2px solid #fff;
      }

      &_rightBottom {
         bottom: 0;
         right: 0;
         border-radius: 0 0 50% 0;
         border-bottom: 2px solid #fff;
         border-right: 2px solid #fff;
      }
   }
}
#checkbox {
   appearance: none;
}
.checkbox {
   margin: 0 0 25px;
   display: flex;
   justify-content: left;
   align-items: center;
   user-select: none;
   transition: 0.3s ease-out;

   &__img {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      background: #02061f98;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__text {
      margin-left: 5px;
      font-size: 11px;
      color: #ae87cf;
   }
}
#checkbox:checked + .checkbox {
   .checkbox__img {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      background: url("../img/check-form.png") no-repeat center, #02061f98;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.arrow {
   position: absolute;
   left: 88%;
   bottom: 19%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: top;

   &__img {
      padding: 7px 10px 0 0;
   }

   &__text {
      font-size: 12px;
      color: #d6be0a;
      max-width: 340px;
      width: 100%;
      text-align: left;
      vertical-align: top;
   }
}

.table {
   max-width: 375;
   width: 100%;
   background: #020416d3;
   margin: 0;
   padding: 85px 30px 75px;
   transition: 0.25s ease-in-out;
   transform: translateX(0);
   opacity: 1;

   &.active {
      transform: translateX(100%);
      opacity: 0;
      min-width: 0;
      width: 0;
      padding: 0;
   }

   &__item {

   }

   &__title {
      font-size: 15px;
      color: #8579e9;
      text-transform: uppercase;
      text-align: left;
      padding-bottom: 15px;
      text-transform: uppercase;
   }

   &__text {
      padding: 0 0 20px 15px;
      font-size: 12px;
      color: #fff;
   }

   &__span {
      color: #8579e9;
   }
}
